@model OpenDagAppBackEnd.Models.Study

@{
    ViewBag.Title = "Details";
}

<div class="bodyForms">
    <h2>Details</h2>

    <fieldset>
        <legend><h3>Studie</h3></legend>
        <dl>
            <dt>
                <b>Naam</b>
                @*@Html.DisplayNameFor(model => model.Name)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                <b>Afkorting</b>
                @*@Html.DisplayNameFor(model => model.ShortName)*@
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShortName)
            </dd>

        </dl>
    </fieldset>
    <p>
        @Html.ActionLink("Aanpassen", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Terug naar de lijst", "Index")
    </p>
</div>