@model OpenDagAppBackEnd.Models.NavigationTrack

@{
    ViewBag.Title = "Create";
}

<div class="bodyForms">

    @using (Html.BeginForm("FileUpload", "NavigationTrack", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <select id="routeselect" name="routeselect">
            @foreach (var route in (List<OpenDagAppBackEnd.Models.NavigationRoute>)ViewBag.RouteId)
            {
                <option value="@route.Id">@route.Name</option>
            }
        </select><br />

        <input type="file" name="file" id="file" /><br />
        <input type="submit" value="Upload" class="submit" />
    }

    @Html.ActionLink("Terug naar de lijst", "Index")
</div>