@model OpenDagAppBackEnd.Models.TimeTable

@{
    ViewBag.Title = "Create";
}

<script src="../Scripts/jquery-1.8.2.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $("#btn_send").click(function () {
            var timeTable = {
                Date: $("#dateTest").val(),
                Active: $("#isActive").is(':checked')
            };

            console.log($("#isActive").checked);

            $.ajax({
                type: "POST",
                url: "../TimeTable/CreateTimeTable",
                datatype: "json",
                contentType: 'application/json',
                data: JSON.stringify({
                    timetable: timeTable
                }),
                success: function () {
                    window.location.href = "../TimeTable/Index"
                },
                error: function () {
                    console.log("Mislukt");
                }
            });
        });
    });
</script>

<div class="bodyForms">
    <h2>Create</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <fieldset class="form-horizontal">
            <h3>TimeTable</h3>

            <b>Datum</b>
            <input type="date" id="dateTest" /><br />
            <b>Active</b>
            <input type="checkbox" id="isActive" value="" /><br />
            <input type="button" value="Create" id="btn_send" />
        </fieldset>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

</div>