/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* -------------------------
    Fonts
   ------------------------- */

@font-face {
    font-family: young;
    src: url('fonts/young.ttf');
}

@font-face {
    font-family: fedra-bold;
    src: url('fonts/fedra_bold.otf');
}

@font-face {
    font-family: fedra-normal;
    src: url('fonts/fedra_normal.otf');
}

@font-face {
    font-family: fedra-light;
    src: url('fonts/fedra_light.otf');
}


/* -------------------------
    URLs
   ------------------------- */

a { color: #c81b1b; text-decoration: none; }
a:visited { color: #c81b1b; }
a:hover { color: #359668; text-decoration: none; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* -------------------------
    Containers
   ------------------------- */

body {
    background: #fff url('~/Images/bg_body.png') repeat top left;
}

/*0 91 170*/

#topbar {
        height: 60px;
        
        /*background: rgba(0,119,192,1);*/
        background: #005BAA;
        /*background-color: rgba(0, 90, 170, 0.9);
        background: -moz-linear-gradient(top, rgba(0,119,192,1) 0%, rgba(0,91,170,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#52ba66), color-stop(100%,#369849));
        background: -webkit-linear-gradient(top, #52ba66 0%,#369849 100%);
        background: -o-linear-gradient(top, #52ba66 0%,#369849 100%);
        background: -ms-linear-gradient(top, #52ba66 0%,#369849 100%);
        background: linear-gradient(to bottom, #52ba66 0%,#369849 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52ba66', endColorstr='#369849',GradientType=0 );*/
}

#subtopbar {
    height: 60px;
    /*background-color: rgba(0,119,192,1);*/
    background-color: #66BFFF;
    margin-bottom: 60px;
}

#branding {
    height: 40px;
    padding-top: 10px;
    padding-left: 10%;
    display: block;
    text-decoration: none;
    float: left;
}

#branding h1 {
    color: #bbf6c6;
    margin: 0;
    font: normal 30px/40px fedra-light;
}
    
#branding h1 strong {
   font-family: fedra-bold;
}
    
#main-content {
    width: 80%;
    padding: 5%;
    border-right: 1px #ccc solid;
}

/* -------------------------
    Navigation
   ------------------------- */

#mainnav ul {
        margin: 0;
    }

    #mainnav ul li ul li a:hover, #mainnav ul li ul li ul li a:hover, #mainnav ul li ul li ul li ul li a:hover {
        background-color: #fff;
        color: #5a5555;
    }

    /* First level of menu */
    #mainnav li {
        position: relative;
        text-align: left;
    }

    #mainnav ul li {
        float: left;
        border: 0;
        height: 60px;
        display: block;
    }

    #mainnav ul li a {
        padding: 0 30px;
        font: normal 1em/60px fedra-normal;
        color: #fff;
        text-align: center;
        display: block;
        text-decoration: none;
    }

    #mainnav ul li a:hover {
        color: #fff;
        text-decoration: none;
        background-color: #00A5EF;
        cursor: pointer;
    }

    /* Second level of menu */
    #mainnav ul li ul {
        display: none;
        border: 5px solid rgba(0,91,170,1);
        padding: 5px;
        background: #fff;
    }

    #mainnav ul li:hover ul {
        position: absolute;
        display: block;
        z-index: 200;
        top: 60px;
        left: 0px;
    }

    #mainnav ul li ul li {
        float: left;
        border-top: 0;
        width: 180px;
        margin: 3px 10px;
        display: block;
        text-align: left;
        height: auto;
    }

    #mainnav ul li ul li a {
        font: normal 0.8em/1.2em Verdana;
        color: /*#c81b1b*/ #666;
        text-decoration: none;
        display: inline-block;
        width: 170px;
        text-align: left;
        padding: 0 5px;
        border-bottom: 1px #ddd dotted;
    }

    #mainnav ul li ul li a:hover {
        /*color: #fff;*/
        color: #222;
        text-decoration: none;
        /*background: #337d9c;*/
        cursor: pointer;
        border-bottom: 1px #222 dotted;
    }



/* -------------------------
    Typography
   ------------------------- */

#maincontent h1 {
    padding-bottom: 0.3em;
    border-bottom: 0.3em solid rgba(0,119,192,1);
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

.login {
    margin-right: 5%;
    margin-top: 1%;
    float:right !important;
}

.span4 {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.bodyForms{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
